.container{
    height: 220px;
    background-color: #3880ff;
}
img{
    padding-top: 20px;
    height: 200px;
    max-height: 200px;
}
ion-button {
    display: block;
}
.pretty {
    text-transform: capitalize;
}
ion-row {
    width: 100%;
}
.center{
    text-align: center;
}