
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon name="mail"></ion-icon>
            <ion-label>Imbox</ion-label>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="time-line">
            <ion-icon name="clock"></ion-icon>
            <ion-label>Time Line</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="search">
            <ion-icon name="search"></ion-icon>
            <ion-label>Search</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="profile">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>profile</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
