<ion-header>
  <ion-toolbar>
    <ion-title>list-following</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf='list?.length'>
    <ion-item *ngFor='let profile of list' (click)='getUser(profile)'>
      <ion-avatar item-left> 
        <img src="../../assets/shapes.svg">
      </ion-avatar>
      <ion-text (click)='login(profile.uid)'>
        <h2>{{profile.firstName}} {{profile.lastName}}</h2>
        <h6>{{profile.email}}</h6>
      </ion-text>
    </ion-item>
  
  </ion-list>
</ion-content>
